<!DOCTYPE html>
<html ng-app="EbaseApp">
<head>
<title>Video</title>

<script type="text/javascript" src="js/facebook.js"></script>
<script src="app/lib/angular.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
<script src="app/app.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<meta charset="UTF-8">
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">6998</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        <!--
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        -->
        </ul>
        <div ng-controller="LoginController" class="nav navbar-form navbar-right active">
          <a ng-show="!shared.data.hasLogin" class="btn btn-primary" ng-click="facebookLogin()">Login With Facebook</a>
          <div ng-show="shared.data.hasLogin" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome {{shared.data.profile.firstName}}!<span class="caret"></span></a>
            <ul class ="dropdown-menu">
              <li><a href='#' ng-click="openProfileDialog()">Profile</a></li>
              <li><a href='#' ng-click="logout()">Logout</a></li>
            </ul>
          </div>
        </div>    
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div ng-controller="ContentController" class="container">
      <ul class="nav nav-pills">
        <li role="presentation" ng-repeat="level in contentLevels track by $index" ng-class="{'active': currentLevel == $index}" ng-click="switchToLevel($index)"><a href="#">{{level}}</a></li>
      </ul>

      <!-- Properties -->
  </div>
  <script type="text/ng-template" id="ProfileModal.html">
    <div class="modal-header text-center">
      <button type="button" class="close" ng-click="closeModal()">x</button>
      <h3>Login</h3>
    </div>
    <div class="modal-body">
        <div class="row">
          <div class="form-group col-lg-6" ng-class="{'has-error': !formValid.firstName}">
            <label>First Name</label>
            <input ng-model="form.firstName" type="text" class="form-control" placeholder="First Name">
          </div>
          <div class="form-group col-lg-6" ng-class="{'has-error': !formValid.lastName}">
            <label>Last Name</label>
            <input ng-model="form.lastName" type="text" class="form-control" placeholder="Last Name">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-6" ng-class="{'has-error': !formValid.email}">
            <label>Email</label>
            <input class="form-control" ng-model="form.email" type="text" placeholder="Email">
          </div>
          <div class="form-group col-lg-6" ng-class="{'has-error': !formValid.phoneNumber}">
            <label>Phone Number</label>
            <input ng-model="form.phoneNumber" type="tel" class="form-control" placeholder="Phone Number">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-6" ng-class="{'has-error': !formValid.address.street}">
            <label>Street</label>
            <input ng-model="form.address.street" type="text" class="form-control" placeholder="Street">
          </div>
          <div class="form-group col-lg-6" ng-class="{'has-error': !formValid.address.streetNumber}">
            <label>Street Number</label>
            <input ng-model="form.address.streetNumber" type="text" class="form-control" placeholder="Street Number">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-6" ng-class="{'has-error': !formValid.address.city}">
            <label>City</label>
            <input ng-model="form.address.city" type="text" class="form-control" placeholder="City">
          </div>
          <div class="form-group col-lg-6" ng-class="{'has-error': !formValid.address.zipCode}">
            <label>Zip Code</label>
            <input ng-model="form.address.zipCode" type="text" class="form-control" placeholder="Zip Code">
          </div>
        </div>
        <p>
          <!--<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
          </fb:login-button>
          -->
          <button class="btn btn-primary" ng-show="!shared.data.hasLogin" ng-click="register()"> Register </button>
        </p>
    </div>
    <!---
    <div class="modal-footer">
      <a ng-click="newUser=!newUser" href="#">{{newUser ? 'Already have account? Sign in now!' : 'New to us? Sign up now!'}}</a>
    </div>
    -->
  </script>
</body>
</html>